<h1>sk1d homepage</h1>
<p>put server stats here etc user data shii here</p>
<h1>stats</h1>
<p><strong>users online:</strong> <span id="stats_online"></span></p>
<p><strong>website views:</strong> <span id="stats_views"></span></p>
<p><strong>system memory:</strong> <span id="stats_memory"></span></p>
<p><strong>system uptime:</strong> <span id="stats_uptime"></span></p>
<p><strong>stats get speed:</strong> <span id="stats_elapsed"></span></p>